<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Это описание вашей страницы">
    <meta name="keywords" content="Ключевые слова страницы...">
    <meta name="format-detection" content="telephone=no">

    <title>Просмотр документа</title>
    <link rel="stylesheet" href="/static/css/styles.css">

    <!--[if lte IE 10]><script src="http://phpbbex.com/oldies/oldies.js" charset="utf-8"></script><![endif]-->
</head>

<body class="iframe">
<div>

    <main class="content content--iframe">
        <div class="content__wrapper ">
            <div class="iframe__title">{{.Document.Name}}</div>
            <div class="iframe__date">{{.Document.LastUpdated.Day}}-{{.Document.LastUpdated.Month}}-{{.Document.LastUpdated.Year}}</div>
            <div class="iframe__description">
                <span>Описание документа:</span><br>{{.Document.Description}}
            </div>

            <div class="iframe__footer">
                <div class="sep__iframe"></div>
                <a href="https://proto.docnota.io/#/document/{{.Block.DocId}}" target="_blank">
                    <button id="iframe__button--open-text"  class="iframe__button">Посмотреть полностью</button>
                </a>
                <div class="iframe__footer-info">
                    <div class="iframe__company">
                    {{if .Company.Id}}
                        <svg class="logo__icon"><use xlink:href="/static/imgs/sprite.svg#logo"></use></svg>
                    {{.Company.Name}}
                    {{else}}
                        <img src="/static/users/{{.User.Avatar}}" width="25px", height="25px" alt="">
                    {{.User.FirstName}} {{.User.LastName}}
                    {{end}}
                    </div>
                    <div class="iframe__number">
                        #{{.Document.ID}}
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>
<script src="/static/js/scripts.js"></script>
<script src="/static/js/custom-scripts.js"></script>
</body>
</html>

